.login-box { 
    width: 100%; max-width: 400px;
    padding: 30px; border: 1px solid var(--terminal-green); 
    background: rgba(0, 15, 0, 0.95); 
    box-shadow: 0 0 20px var(--terminal-dark-green), inset 0 0 10px var(--terminal-dark-green); 
    text-align: center; 
} 

.form-group { 
    margin-top: 25px; 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    text-align: left; 
} 

input[type="text"], input[type="password"] { 
    background: transparent; 
    border: 1px solid var(--terminal-green); 
    color: var(--terminal-green); 
    font-family: var(--font-main); 
    font-size: 1.2rem; 
    padding: 10px; 
    outline: none; 
    text-align: center; 
    box-shadow: inset 0 0 5px rgba(0, 255, 102, 0.1); 
} 

input[type="password"] { 
    letter-spacing: 5px; 
} 

input[type="text"]:focus, input[type="password"]:focus { 
    box-shadow: 0 0 15px var(--terminal-green), inset 0 0 5px rgba(0, 255, 102, 0.2); 
} 

#error-msg { 
    margin-top: 15px; 
    font-size: 0.85rem; 
    min-height: 20px; 
    letter-spacing: 1px; 
} 

.login-footer { 
    margin-top: 15px;
    display: flex; 
    justify-content: space-between; 
} 

.login-footer button { font-size: 1rem; }
