:root {
    --bg-color: #0d0d0d;
    --terminal-green:  #00ff66; 
    --terminal-dark-green: rgba(0, 255, 102, 0.1);
    --glitch-red:  #00ff00;
    --glitch-blue: #16380c;
    --font-main: 'JetBrains Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--terminal-green);
    font-family: var(--font-main);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: opacity 0.6s ease;
}

.typing-text::after {
    content: "_";
    animation: blinker 1s infinite;
}

.overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), 
                linear-gradient(90deg, rgba(255, 0, 0, 0.05), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.05));
    background-size: 100% 3px, 3px 100%;
    pointer-events: none;
    z-index: 10;
}

.terminal-container {
    width: 90%;
    max-width: 800px;
    padding: 40px;
    border: 1px solid var(--terminal-green);
    background: rgba(0, 20, 0, 0.95);
    box-shadow: 0 0 20px var(--terminal-dark-green), inset 0 0 10px var(--terminal-dark-green);
    position: relative;
}


.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 20px;
    opacity: 0.7;
}

.blink {
    animation: blinker 1s linear infinite;
}

.title-clean {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.glitch-active {
    animation: glitch 0.4s linear;
}

.glitch {
    position: relative;
    text-shadow: 0.05em 0 0 var(--glitch-red), -0.05em -0.025em 0 var(--glitch-blue);
   
}

.glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    opacity: 0.8;
}

.glitch::before { animation: glitch 950ms infinite; clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%); transform: translate(-0.025em, -0.0125em); }
.glitch::after { animation: glitch 375ms infinite; clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%); transform: translate(0.0125em, 0.025em); }


.menu-options {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    background: transparent;
    border: none;
    color: var(--terminal-green);
    font-family: var(--font-main);
    font-size: 1.3rem;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
}
button::before {
    content: ">";
    margin-right: 1px;
    opacity: 0;
    transition: 0.2s;
}

button:hover::before {
    opacity: 1
    ;
}

button:focus,
button:hover {
    background: var(--terminal-green);
    color: #000;
    box-shadow: 0 0 15px var(--terminal-green);
}

.prompt {
    color: var(--glitch-blue);
    font-weight: bold;
}

button:focus .prompt,
button:hover .prompt {
    color: #000;
}

.terminal-footer {
    margin-top: 40px;
    font-size: 0.7rem;
    opacity: 0.5;
    border-top: 1px solid var(--terminal-dark-green);
    padding-top: 10px;
}


@keyframes blinker { 50% { opacity: 0; } }

@keyframes glitch {
    0% { text-shadow: 0.05em 0 0 var(--glitch-red), -0.05em -0.025em 0 var(--glitch-blue); }
    14% { text-shadow: 0.05em 0 0 var(--glitch-red), -0.05em -0.025em 0 var(--glitch-blue); }
    15% { text-shadow: -0.05em -0.025em 0 var(--glitch-red), 0.025em 0.025em 0 var(--glitch-blue); }
    49% { text-shadow: -0.05em -0.025em 0 var(--glitch-red), 0.025em 0.025em 0 var(--glitch-blue); }
    50% { text-shadow: 0.025em 0.05em 0 var(--glitch-red), 0.05em 0 0 var(--glitch-blue); }
    99% { text-shadow: 0.025em 0.05em 0 var(--glitch-red), 0.05em 0 0 var(--glitch-blue); }
    100% { text-shadow: -0.025em 0 0 var(--glitch-red), -0.025em -0.025em 0 var(--glitch-blue); }
}

@media (max-width: 600px) {
    .glitch { font-size: 1.8rem; }
    .terminal-container { padding: 20px; }
}

.intro-screen {
    position: fixed;
    inset: 0;
    background: #000;
    color: var(--terminal-green);
    font-family: var(--font-main);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

#boot-text {
    font-size: 1rem;
    line-height: 1.6;
    white-space: pre-wrap;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
}

.anomaly-active {
    animation: screenDistort 0.4s linear;
}

.scanline {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 15;

    background: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(0, 255, 102, 0.04) 50%,
        transparent 100%
    );

    background-size: 100% 6px;

    animation: scanMove 6s linear infinite;
    mix-blend-mode: screen;
    opacity: 0.6;
}


@keyframes scanMove {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes screenDistort {
    0% {
        transform: translate(0) skew(0deg);
        filter: none;
    }
    15% {
        transform: translate(-4px, 2px) skew(-1deg);
        filter: hue-rotate(20deg) contrast(1.4);
    }
    30% {
        transform: translate(4px, -2px) skew(1deg);
        filter: invert(0.1);
    }
    45% {
        transform: translate(-2px, 3px);
        filter: brightness(1.5);
    }
    60% {
        transform: translate(3px, -3px);
        filter: hue-rotate(-20deg);
    }
    100% {
        transform: translate(0) skew(0deg);
        filter: none;
    }
}
